// Nina Colors

// Default
$yellow: #ede180;

// Function params and Keywords
$purple: #b278f5;

// Background
$background: #000c18;

// Method definitions, Function names
$green: #79eb95;

// Nina Pink
$pink: #FF91FF;
$blue-cyan: #89DDFF;
