// Nina Colors

// Base
$yellow: #ede180;

// Function params and Keywords
$purple: #b278f5;

// Background
$background: #000c18;

// Method definitions, Function names
$green: #79eb95;

//Classes, type, interface
$blue: #8be9fd;

//_________________________________________

// Nina Lisbeth
$pink: #ff91ff;
$blue-cyan: #89ddff;
