// Nina Colors

// Default
$yellow: #fff6a3;

// Background
$background: #1e1e1e;

// Caret
$blue: #84cadf;

// Function params and Keywords
$purple: #af69ff;

// Class name Identifiers,
$cyan: #56b6c2;

// String
$orangeString: #ecb19a;

// entity name tag, keyword export, constant language boolean
$pink: #fa68b8;

// Numbers, Constants, Markup attributes
$brown: #d19a66;

// Class name, Namespaces
$slime: #b6ebc4;

// Method definitions, Function names
$green: #7dff9e;

// Comments
$comment: #d5ced9;
